{% extends 'base.html' %}

{% block style %}
<style>
    table {
        width: 60   %;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 20px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, .header {
        background-color: gray;
        color: white;
    }
    td.light-on {
        background-color: yellow;
    }
    .cell {
        width: 50px;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ date }}: Информация о репетициях</h2>
<table>
    <tr class="header">
        <th colspan="6">Количество комнат на этаже: {{ rooms_count }}</th>
    </tr>
    <tr>
        <td colspan="6">Окна на этаже: {% for windows_count in windows_for_room %}{{ windows_count }} {% endfor %}</td>
    </tr>
    {% for floor, lights in windows.items %}
        <tr>
            <th width="300px">Этаж {{ forloop.counter }}</th>
            {% for is_light_on in lights %}
                <td class="{% if is_light_on %}light-on{% endif %} cell"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<p>Количество этажей: {{ windows|length }}</p>
<p>Номера комнат с включенным светом: {% for room in room_numbers %}{{ room }} {% endfor %}</p>
{% endblock %}
